{% extends 'base.html.twig' %}

{% block title %}Tracks - {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
    Tracks:

    <ul>
        {% for track in tracks %}
        <li>{{ track.artist }} - {{ track.song }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
